.header {
    background-color: #0D0D0D;
    width: 100%;
}

.links a {
    text-decoration: none;
    margin-right: 20px;
    color: #FF5E19;
}

@media only screen and (max-width: 576px) {
    .header {
        display: block !important;
        padding-top: 20px;
        text-align: center;
    }

    .links {
        padding-top: 10px !important;
    }
}